body {
    background-color: black;
    top: 0px;
    left: 0px;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;  
}
#logo img
{
    max-width: 15%;
    height: auto;
    display: flex;
    align-items: baseline;
    top: 7px;
    left: 96px;
}
nav ul
{
    display: flex;
    align-items: baseline;
}
nav li
{
    margin-right: 15px;
    width: 100px;
    display: flex;
    text-align: center;
}
nav a
{
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}
#texteocean {
    color: white;
}
 table {
     color: white;
     align-content: center;
     width: 200px;
     border-spacing: 20px ;
 }
 article ul
{
    display: flex;
    align-items: center;
}
article li
{
    margin-right: 15px;
    display: flex;
    text-align: center;
    color: white;
}

#live {
    transform: rotate(270deg);
}

.container-fluid {
    color: white;
}

.row {
    display: flex;
